header
  h1.logo Island Tan 2 Go

  nav.site-nav
    ul
      li: a(href="#services") Services
      li: a(href="#about") About
      li: a(href="#faq") FAQ
      li: a(href="#contact") Contact
  div.welcome-box
    h1.welcome.large Welcome to Island Tan 2 Go Mobile Airbrush Tanning
    strong.welcome-text We specialize in Airbrush Tanning in Honolulu, Hawaii and Groton, Connecticut and surrounding areas. We are a mobile tanning service that can be done in the privacy of your own home or office.
    div.cta-container
      h2.cta1.bigger: a(href='#') Learn More
      h2.cta2.bigger: a(href='#') Book Now
