.home-wrap header
  height: 100vh
  background: lightgrey
  background:
    image: url(/assets/img/bg-header.jpg)
    repeat: no-repeat
    position: center center
  background-size: cover
  margin: 0
  padding: 0
  display: block

  .logo
    +hide-text
    background:
      image: url(/assets/img/logo.svg)
      repeat:no-repeat
      height: 100px
      float: left
    margin: 0
    padding: 0
    display: block

  .site-nav
    text-align: right
    ul
      list-style: none
      margin-top: -35px

    li
      display: inline-block
      padding: 5px

    a
      color: white

  .welcome-box
    max-width: 700px
    padding:
      left: 8vw
    .welcome
      text-align: center
      color: green
      text-transform: uppercase
      padding:
        top: 20vh
      display: block
      clear: both

    .welcome-text
      margin: auto
      text-align: center
      max-width: 600px
      color: white
      text-transform: uppercase
      padding: 10px
      margin:
        top: -25px
      display: block
      clear: both
      background-color: rgba(0, 0, 0, 0.5)
      border:
        radius: 10px

    .cta-container
      margin: auto
      display: block
      text-align: center

      .cta1
        display: inline-block
        width: 200px
        border:
          color: white
          style: solid
          width: 5px
          radius: 10px
        padding: 5px 30px
        margin: 10px
        a
          color: white
          text-transform: uppercase
          text-align: center
      &:hover
        border:
          color: black
          style: solid
          width: 5px
          radius: 10px
        padding: 5px 30px
        margin: 10px
        a
          color: black

      .cta2
        display: inline-block
        width: 200px
        border:
          color: white
          style: solid
          width: 5px
          radius: 10px
        padding: 5px 30px
        margin: 10px
        a
          color: white
          text-transform: uppercase
          text-align: center
